<h3><i class="icon-search"></i> Basic Search </h3>
<div class="tabbable">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#tab1" data-toggle="tab">Patent ID</a></li>
		<li><a href="#tab2" data-toggle="tab">Inventor</a></li>
		<li><a href="#tab3" data-toggle="tab">Test</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="tab1">
	      	<form name="searchPID">
				<span>Search by Patent ID:</span>
				<input type="text" name="patentID">
				<button id="submitID" type="button">Send</button>
			</form>
	    </div>
	    <div class="tab-pane" id="tab2">
	    		<form name="searchINV">
				<span>Search by Inventor:</span>
				<input type="text" name="INV">
				<button id="submitINV" type="button">Send</button>
			</form>
	    </div>
	    <div class="tab-pane" id="tab3">
	    		<%= form_tag("basic/searchINV", :method => "get") do %>
				<span>Search by Inventor:</span>
				<input type="text" name="INV">
				<button id="submit" type="submit">Send</button>
			<% end %>
	    </div>
	</div>
</div>

<div id="searchResult"></div>

<% content_for :javascript do %>
	<%= javascript_include_tag "basic/searchPID" %>
	<%= javascript_include_tag "basic/searchINV" %>
<% end %>