<h1>Search for Patents</h1>

<%= form_tag("searchPID", :method => "get") do %>
	<span>Search by Patent ID:</span>
	<input type="text" name="patentID">
	<button id="submitID" type="submit">Send</button>
<% end %>

<%= form_tag("searchINV", :method => "get") do %>
	<span>Search by Inventor:</span>
	<input type="text" name="INV">
	<button id="submitINV" type="submit">Send</button>
<% end %>