<h1>
	Search for Patents
</h1>

<p>
	<h3>Search by Inventor = "<%= params[:INV]%>"</h3>
	<% (2007..2008).each { |i| %>
     		<% if @patentID[i].to_a.empty? == false %>
     			<% @patentID[i].to_a.each do |p| %>
     				<span><b>Patent ID: </b><%= p['Patent_id'].to_s %></span>
				<%= link_to 'Details', {:controller => "stat", :action => "searchPID", :patentID => p['Patent_id'].to_s } %><br>
     			<% end %>
		<% end %>
     <% } %>
</p>