<script type="text/javascript">
(function($){ // encapsulate jQuery
    $(function () {
        var chart;
        
        $(document).ready(function() {
    		var array = JSON.parse('<%= @count %>');
    		var company = '<%= @assignee_name.join(" ,") %>';
            var countYear = JSON.parse('<%= @countYear %>');
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'line',
                    marginRight: 130,
                    marginBottom: 25
                },
                title: {
                    text: 'Number of Patents per Year',
                    x: -20 //center
                },
                subtitle: {
                    text: 'Source: uspto',
                    x: -20
                },
                xAxis: {
                    categories: countYear
                },
                yAxis: {
                    title: {
                        text: 'number of patents'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }],
                    min: 0
                },
                tooltip: {
                    formatter: function() {
                            return '<b>'+ this.series.name +'</b><br/>'+
                            this.x +': '+ this.y +' patent(s)';
                    }
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'top',
                    x: -10,
                    y: 10,
                    borderWidth: 0
                },
                series: [{
                    name: company,
                    data: array
                }]
            });
        });
        
    });
})(jQuery);
</script>


<div class="page-header">
    <h3>Line Chart <small>Number of patents issued each year.</small></h3>
</div>

<div id="container" class="thumbnail" style="min-width: 800px; height: 400px; margin: 0 auto"></div>