<% content_for :stylesheet do %>
  <%= stylesheet_link_tag  "gh-fork-ribbon", :media => "all" %>
<% end %>

<div class="hero-unit new-hero-unit">
  <div class="github-fork-ribbon-wrapper right">
      <div class="github-fork-ribbon">
          <a href="https://github.com/cytms/patent-app">Fork me on GitHub</a>
      </div>
  </div>
  <div id="iconCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
      	<div class="logo"><i class="icon-shopping-cart"></i></div>
      	<div class="intro"><h3>Patent Cart</h3><p>Get patent information to your liking!</p></div>
      </div>
      
      <div class="item">
        <div><i class="icon-search"></i></div>
        <div class="intro"><h3>Basic Search</h3><p>Search for relevant patents.</p></div>
      </div>

      <div class="item">
      	<div><i class="icon-bar-chart"></i></div>
      	<div class="intro"><h3>Statistics</h3><p>Statistic charts to analyze patents.</p></div>
      </div>

      <div class="item">
      	<div><i class="icon-picture"></i></div>
      	<div class="intro"><h3>Map Visualization</h3><p>A self-organizing patent map to visualize current patent distributions.</p></div>
      </div>

      <div class="item">
        <div><i class="icon-sitemap"></i></div>
        <div class="intro"><h3>Citation</h3><p>View references and citations between patents in one glance.</p></div>
      </div>

      <div class="item">
        <div><i class="icon-user"></i></div>
        <div class="intro"><h3>Get Your Own Cart!</h3><p>Follow important assignees and patents of your own selection.</p></div>
      </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left new-carousel" href="#iconCarousel" data-slide="prev"
        onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
      <i class="icon-arrow-left"></i></a>
    <a class="carousel-control right new-carousel" href="#iconCarousel" data-slide="next"
        onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
      <i class="icon-arrow-right"></i></a>
  </div>
</div>