<div class="hero-unit">
  <div id="iconCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
      	<div class="logo"><i class="icon-shopping-cart"></i></div>
      	<div class="intro"><h3>Patent Cart</h3><p>this is our work</p></div>
      </div>
      <div class="item">
      	<div><i class="icon-bar-chart"></i></div>
      	<div class="intro"><h3>Statistics</h3><p>introduction</p></div>
      </div>

      <div class="item">
      	<div><i class="icon-group"></i></div>
      	<div class="intro"><h3>Analysis</h3><p>introduction</p></div>
      </div>

      <div class="item">
      	<div><i class="icon-search"></i></div>
      	<div class="intro"><h3>Analysis</h3><p>introduction</p></div>
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#iconCarousel" data-slide="prev"
        onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Prev']);">
      <i class="icon-arrow-left"></i></a>
    <a class="carousel-control right" href="#iconCarousel" data-slide="next"
        onClick="_gaq.push(['_trackEvent', 'iconCarousel', 'Next']);">
      <i class="icon-arrow-right"></i></a>
  </div>
</div>