
<script type="text/javascript">

(function($){ // encapsulate jQuery

$(function () {
    var chart;
    
    $(document).ready(function() {
		var array = JSON.parse('<%= @count %>');
		var company = '<%= params[:companyIn] %>';
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Number of Patents per Year',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: uspto',
                x: -20
            },
            xAxis: {
                categories: ['2007', '2008', '20009', '2010', '2011', '2012']
            },
            yAxis: {
                title: {
                    text: 'number of patents'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }]
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +' patent(s)';
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: company,
                data: array
            }]
        });
    });
    
});
})(jQuery);
</script>


<!--
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script> -->
<div class="page-header">
    <h3>Counter -line chart <small>search by assignee</small></h3>
</div>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<div class="page-header">

<% content_for :javascript do %>
  <%= javascript_include_tag "highcharts" %>
  <%= javascript_include_tag "modules/exporting" %>
<% end %>