<!-- Example row of columns -->	
<footer class="footer footer-bg">
	<div class="container">
		<span>&copy; Patent-project 2012 </span>
		<span class="pull-right"><i class="icon-shopping-cart"></i> Patent Cart v1.0</span>
	</div>
</footer>
