<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><i class="icon-cogs"></i> PatentMining.com </a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="/statistics"><i class="icon-bar-chart"></i> Statistics </a></li>
          <li><a href="/analysis"><i class="icon-group"></i> Analysis </a></li>
          <li><a href="/basic"><i class="icon-search"></i> Basic Search </a></li>
        </ul>
        <form class="navbar-form pull-right">
          <input class="span2" type="text" placeholder="keywords">
          <button type="submit" class="btn">Search</button>
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>