<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <h3><a class="brand" href="/"><i class="icon-shopping-cart"></i> Patent Cart </a></h3>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/basic"><i class="icon-search"></i> Basic Search </a></li>
          <li><a href="/statistics"><i class="icon-bar-chart"></i> Statistics </a></li>
          <li><a href="/analysis"><i class="icon-picture"></i> Map Visualization </a></li>
          <li><a href="#"><i class="icon-sitemap"></i> Citation </a></li>
        </ul>
        <ul class="nav pull-right">
          <% if user_signed_in? %>
            <li><a href="/cart"><i class="icon-shopping-cart"></i> My Cart </a></li>
            <li id="dropdown-menu" class="dropdown">
              <a href="#" id="droplogin" role="button" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i>User <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="droplogin">
                <li><a href="#"><i class="icon-user"></i><%= current_user.email %></a></li>
                <li class="divider"></li>
                <li><a href="/login/logout"><i class="icon-signout"></i>Logout</a></li>
              </ul>
            </li>
          <% else %>
            <li><a href="/login"><i class="icon-user"></i> Login </a></li>
          <% end %>
        </ul>
        
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>