// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
	padding-top: 70px;
}

.new-hero-unit{
	-moz-box-shadow: -2px 2px 5px 2px #aaa;
	-webkit-box-shadow: -2px 2px 5px 2px#aaa;
	box-shadow: -2px 2px 5px 2px #aaa;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: url('/assets/red_pattern.jpg');
}

#iconCarousel{
	margin-top: -150px;
}

#iconCarousel .new-carousel{
	background: transparent;
	border: 0;
	left: 0;
}

#iconCarousel .new-carousel.right {
	right: 0;
}